body {
	background: black;
}

.postcard {
	background-color: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
}

.postcard-header img {
	width: 50px;
	height: 50px;
}

.postcard-header h1 {
	width: 338px;
	margin: 0px;
}

.postcard-body {
	display: flex;
}

.body-left p {
	font-family: "ibm plex sans";
}

.body-left p:first-child {
	margin-top: 0px;
}

.body-left,
.body-right {
	padding: 5px;
}

input {
	border: 0px;
	border-bottom: 30px;
}

.postcard-footer {
	text-align: center;
	margin: 6%;
}

button {
	background-color: grey;
	padding: 5px;
}
